@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    width: 100vw;
    font-family: "Roboto";
}

#cuerpo {
    width: 100%;
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-cuerpo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#carousel {
    width: 100%;
}

#cuerpo-descripcion {
    margin-top: 20px;
}

#pie-pagina {
    background-color: rgb(246, 207, 134);
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: flex-end;;
}