body {
    width: 100vw;
    background: linear-gradient(rgb(241, 241, 67), white);
    background-repeat: no-repeat;
}

header {
    text-align: center;
    font-size: 20pt;
}

.cuerpo {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#texto {
    width: 30%;
    text-align: justify;
}